<div class="container custom-form">
  <div style="background: #ffffff">
    <div class="form-title">
      <h3>Edit your Post</h3> 
    </div>
    <%= render 'form', image: @image %>
  </div>
  
</div>  
  